<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>

<body>
<div>
    <form action="/edit" method="post">
        <table>

            <tr>
                <td>Id:</td>
                <td><input type="text" th:field="*{user.id}"></td>
            </tr>

            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{user.username}"></td>
            </tr>

            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{user.name}"></td>
            </tr>

            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{user.surname}"></td>
            </tr>

            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{user.age}"></td>
            </tr>

            <tr>
                <td>Phone number:</td>
                <td><input type="text" th:field="*{user.phoneNumber}"></td>
            </tr>

            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="*{user.password}"/></td>
            </tr>

            <input type="checkbox" name="checkBoxRoles" value="ROLE_USER"/>USER
            <input type="checkbox" name="checkBoxRoles" value="ROLE_ADMIN"/>ADMIN

            <br/>
        </table>
        <br/>
        <td><input type="submit" value="Edit"></td>
        <br/>
        <br/>
        <a th:href="@{/logout}">logout</a>
    </form>
</div>
</body>
</html>